<ion-side-menus enable-menu-with-back-views="true">

	<!-- MAIN CONTENT -->
	<ion-side-menu-content drag-content="false">
		
		<!-- PANEL NAV -->
        <panel-nav panels="panels"></panel-nav>

		<!-- MAIN CONTENT -->
		<ion-nav-view name="panel"></ion-nav-view>

	</ion-side-menu-content>

	<!-- LEFT MENU -->
	<ion-side-menu side="left">

		<ion-content>

			<ion-list>
                
                <div class="list">
                    
                    <p class="menu-title">Menu</p>
                    
                    <!-- USER PERSONA -->
                    <p class="user">
                        <span>{{ user.user }}</span>
                        <span ng-click="logout();">Logout</span>
                    </p>
                    
                    <!-- UPDATE -->
                    <div class="item item-divider">Update</div>
                    
                    <!-- THEME -->
                    <ion-item class="item menu-item">
                        
                        <span>Theme</span>
                        <span class="theme-change"
                              ng-click="changeTheme(theme.opposite);">{{ theme.opposite }}</span>
                        
                    </ion-item>

                    <!-- WORKSPACES -->
                    <div class="item item-divider">Explore</div>
                    
                    <ion-item ng-repeat="workspace in workspaces"
                              class="item menu-item"
                              ng-class="{ 'active': workspaceParam == workspace.url_name }"
                              ng-click="changeWorkspace(workspace.id, workspace.url_name, workspace.default_panel, workspace.persona_id, workspace.default_vis);"
                              nav-clear menu-close>{{ workspace.name }}</ion-item>
                    
                </div>

			</ion-list>

		</ion-content>

  </ion-side-menu>

</ion-side-menus>