<!-- VISUALIZATION -->
<heatmap-grid viz-data="[{'values':[
                        {'timestamp':'2014-01-01T08:00:00','value':17},
                        {'timestamp':'2014-01-01T08:15:00','value':19},
                        {'timestamp':'2014-01-01T08:30:00','value':25},
                        {'timestamp':'2014-01-01T08:45:00','value':42}],'name':'south'},{'values':[
                        {'timestamp':'2014-01-01T08:00:00','value':35},
                        {'timestamp':'2014-01-01T08:15:00','value':16},
                        {'timestamp':'2014-01-01T08:30:00','value':6},
                        {'timestamp':'2014-01-01T08:45:00','value':27}],'name':'west'},{'values':[
                        {'timestamp':'2014-01-01T08:00:00','value':20},
                        {'timestamp':'2014-01-01T08:15:00','value':43},
                        {'timestamp':'2014-01-01T08:30:00','value':29},
                        {'timestamp':'2014-01-01T08:45:00','value':19}],'name':'northeast'},{'values':[
                        {'timestamp':'2014-01-01T08:00:00','value':33},
                        {'timestamp':'2014-01-01T08:15:00','value':47},
                        {'timestamp':'2014-01-01T08:30:00','value':17},
                        {'timestamp':'2014-01-01T08:45:00','value':48}],'name':'midwest'}]"
              canvas-height="100"></heatmap-grid>