<!-- HACK UNTIL REFACTOR IS IMPLEMENTED -->
<div ng-if="$parent.content[$index].persona_id == 1 && $index == 1">
<tile-grid-map viz-data="tileGridData" grouping="nodeGroups" boundaries="boundaryData"></tile-grid-map>
</div>
<div ng-if="$parent.content[$index].persona_id == 2 && $index == 0">
<tile-grid-map viz-data="tileGridData" grouping="nodeGroups" boundaries="boundaryData"></tile-grid-map>
</div>
<div ng-if="$parent.content[$index].persona_id == 6 && $index == 1">
<tile-grid-map viz-data="tileGridData" grouping="nodeGroups" boundaries="boundaryData"></tile-grid-map>
</div>