@charset "UTF-8";
/* CSS Document */

/*************************************** directive STYLE ***************************************/

/* Highest directive specific styling. */

/* !IMPORTS
/* !CUSTOM
/* --- !something


/******************************* !IMPORTS *******************************/

/******************************* !CUSTOM *******************************/

/* panel wrap */
ui-view[name="panel"] {

    display: block;
    padding-bottom: 4em;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 2em;

}

/* section in panel */
ui-view[name="panel"] section {

    padding: 1em;
    width: 100%;

}

.position-fix {
    
    position: absolute;
    width: 100%;
    
}
