@charset "UTF-8";
/* CSS Document */

/*************************************** LIGHT STYLE ***************************************/

/* Light styles. */

/* !IMPORTS
/* !GLOBALS
/* !CUSTOM
/* --- !menu
/* --- !login
/* --- !slide panel
/* --- !group nodes
/* --- !tile grid map

/******************************* !IMPORTS *******************************/

/******************************* !GLOBALS *******************************/

html, body {
    
    background: rgb(244, 244, 244);
    
}

html, body, p,
h1, h2, h3, h4, h5, h6 {
	
	color: rgb(100, 100, 100);
	
}

button {
	
	background-color: transparent;
	border-color: rgb(150, 150, 150);
	color: currentColor;
	
}

button:hover {
    
    background: rgb(200,200,200);
    
}

button:active {
    
    background: rgb(240,240,240);
    
}

/******************************* !CUSTOM *******************************/

/* TEMP section */
.login section {
    
    background: rgba(220,220,220,0.5);
    
}

.login section:nth-child(even) {
    
    background: rgba(220,220,220,0.8);
    
}

/********************/
/***** !active ******/
/********************/

/* active */
.active {
	
	color: currentColor;
	
}

/******************/
/***** !menu ******/
/******************/

/* menu title */
.menu-title:after {
    
    background: currentColor;
    
}

/* theme */
.theme-change {
    
    background: rgb(80,80,80);
    color: rgb(200,200,200);
    
}

/* menu item */
.menu-item:hover {
    
    background: rgb(220,220,220);
    
}

/* active item */
.item.active {
	
	background: rgb(220,220,220);
	
}

/*******************/
/***** !login ******/
/*******************/

.login section div:nth-child(1) {
    
    background: rgb(200,200,200);
    
}

.login section div:nth-child(2) {
    
    background: rgb(240,240,240);
    
}

.login section div:nth-child(3) {
    
    background: rgb(230,230,230);
    
}

.login section div:nth-child(4) {
    
    background: rgb(220,220,220);
    
}

.login section div:hover {
    
    background: rgb(210,210,210);
    
}


/*************************/
/***** !slide panel ******/
/*************************/

slide-panel section.left,
slide-panel section.right {
  
    background: rgba(240,240,240,0.95);
    
}

/**************************/
/***** !group nodes ******/
/**************************/

group-nodes .node {
	
	fill: #667080;
	
}

/* node label */
group-nodes .node text {
    
    fill: rgb(244,244,244);
    
}

/************************/
/**** !tile grid map ****/
/************************/

/* empty tile */
tile-grid-map path.default {
    
    fill: rgb(102, 112, 128);
    stroke: rgb(244,244,244);
    
}