@charset "UTF-8";
/* CSS Document */

/*************************************** LIGHT STYLE ***************************************/

/* Light styles. */

/* !IMPORTS
/* !GLOBALS
/* !CUSTOM
/* --- !menu
/* --- !login
/* --- !slide panel
/* --- !group nodes
/* --- !tile grid map
/* --- !bar chart
/* --- !card layout
/* --- !heuristic
/* --- !line chart
/* --- !heatmap grid

/******************************* !IMPORTS *******************************/

/******************************* !GLOBALS *******************************/

html, body {
    
    background: rgb(244, 244, 244);
    background-image: url("images/img-noise-361x370.png") !important;
    
}

html, body, p,
h1, h2, h3, h4, h5, h6 {
	
	color: rgb(100, 100, 100);
	
}

button {
	
	background-color: transparent;
	border-color: rgb(150, 150, 150);
	color: currentColor;
	
}

button:hover {
    
    background: rgb(200,200,200);
    
}

button:active {
    
    background: rgb(240,240,240);
    
}

/******************************* !CUSTOM *******************************/

/********************/
/***** !active ******/
/********************/

/* active */
.active {
	
	color: currentColor;
	
}

/******************/
/***** !menu ******/
/******************/

/* menu title */
.menu-title:after {
    
    background: currentColor;
    
}

/* theme */
.theme-change {
    
    background: rgb(80,80,80);
    color: rgb(200,200,200);
    
}

/* menu item */
.menu-item:hover {
    
    background: rgb(235,235,235);
    margin-left: -1em;
    margin-right: -1em;
    padding-left: 2em;
    padding-right: 2em;

}

/* active item */
.item.active {
	
	background: rgb(220,220,220);
	
}

/*******************/
/***** !login ******/
/*******************/

/* persona type */
.login section div span {
    
    color: rgb(244,244,244);
    
}

/* persona type general */
.login section div span[data-persona-type="general"] {
    
    background: rgb(163, 180, 70);
    
}

/* persona type corporate */
.login section div span[data-persona-type="corporate"] {
    
    background: rgb(70, 130, 180);
    
}

/* persona type sme */
.login section div span[data-persona-type="sme"] {
    
    background: rgb(152, 83, 2);
    
}

/* persona type sme */
.login section div span[data-persona-type="peer"] {
    
    background: rgb(2, 140, 152);
    
}

/* persona name */
.login section div p:first-of-type {

    color: rgb(30,30,30);

}

/*************************/
/***** !slide panel ******/
/*************************/

slide-panel section.left,
slide-panel section.right {
  
    background: rgba(240,240,240,0.95);
    
}

/**************************/
/***** !group nodes ******/
/**************************/

/* node */
group-nodes .node .shape {
	
	fill: #667080;
	
}

/* link */
group-nodes .link {
    
    stroke: #667080;
    
}

/* node label */
group-nodes .node .label {
    
    fill: rgb(244,244,244);
    
}

/************************/
/**** !tile grid map ****/
/************************/

/* empty tile */
tile-grid-map path.default {
    
    fill: rgb(102, 112, 128);
    stroke: rgb(244,244,244);
    
}

/* empty hex */
tile-grid-map .defaultHex {

    fill: rgb(250,250,250);

}

tile-grid-map .leaflet-label {

    color: #111;
    
}

tile-grid-map path.boundaryPolygon {

    stroke: #111;
    
}

/***********************/
/***** !bar chart ******/
/***********************/

/* node */
bar-chart rect {
	
	fill: #667080;
	
}

/*************************/
/***** !card layout ******/
/*************************/

/* poster */
card-layout figure > div {
    
    background: rgb(255,255,255);
    
}

/* poster graphic */
card-layout figure > div svg {
    
    fill: #667080;
    
}

/***********************/
/***** !heuristic ******/
/***********************/

/* temp */
.heuristic pre {
    
    background: rgb(30, 30, 30);
    color: rgb(150,150,150);
    
}

/* temp */
.heuristic pre .required {
    
    color: rgb(0, 216, 255);
    
}

.heuristic .code-legend span.required:before {
    
    background: rgb(0, 216, 255);
    
}

.heuristic pre .optional {
    
    color: rgb(154, 152, 116);
       
}

.heuristic .code-legend span.optional:before {
    
    background: rgb(154, 152, 116);
       
}

/************************/
/***** !line chart ******/
/************************/

/* line */
line-chart .line path {
    
    stroke: #667080;
    
}

/* point */
line-chart .line circle {
	
	fill: #667080;
	
}

/**************************/
/***** !heatmap grid ******/
/**************************/

/* grid cell */
heatmap-grid rect {
    
    fill: #667080;
    
}