@charset "UTF-8";
/* CSS Document */

/*************************************** heatmap-grid directive STYLE ***************************************/

/* heatmap grid directive specific styling. */

/* !IMPORTS
/* !GLOBAL
/* !CUSTOM
/* --- !heatmap grid


/******************************* !IMPORTS *******************************/

/******************************* !GLOBAL *******************************/

/******************************* !CUSTOM *******************************/

/**************************/
/***** !heatmap grid ******/
/**************************/

/* label */
heatmap-grid text {
    
    fill: currentColor;
    
}