@charset "UTF-8";
/* CSS Document */

/*************************************** panel-nav directive STYLE ***************************************/

/* panel nav directive specific styling. */

/* !IMPORTS
/* !GLOBAL
/* !CUSTOM
/* --- !panel nav


/******************************* !IMPORTS *******************************/

/******************************* !GLOBALS *******************************/

/******************************* !CUSTOM *******************************/

/***********************/
/***** !panel nav ******/
/***********************/

/* nav wrap */
panel-nav nav {
	
	display: flex;
    left: 4em;
	max-width: 400px;
	padding: 1em;
    padding-top: 0.3em;
    position: absolute;
    top: 0;
	width: 40%;
	
}

/* nav item */
panel-nav a {
	
	padding: 1em;
	position: relative;
	text-align: center;
    text-transform: capitalize;
	
}

/* navigation link underline */
panel-nav a:last-child::after{
	
	background: currentColor;
	bottom: 0;
	content: '';
	height: 3px;
	left: 0;
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	width: 100%;
	
}

/* line position */
panel-nav nav a:first-child.active ~ a:last-child::after {
    
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
    
}