@charset "UTF-8";
/* CSS Document */

/*************************************** story-controls directive STYLE ***************************************/

/* story controls directive specific styling. */

/* !IMPORTS
/* !GLOBAL
/* !CUSTOM
/* --- !story controls


/******************************* !IMPORTS *******************************/

/******************************* !GLOBAL *******************************/

/******************************* !CUSTOM *******************************/

.story-controls {
    padding: 15px 25px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    margin-top: 10px;
}

.story-controls__option {
    padding-right: 20px;
}

.btn-story-controls {
    padding: 6px 8px 2px 8px;
    background-color: #ffffc2;
    color: #343434;
}

.btn-story-controls:hover,
.btn-story-controls:active,
.btn-story-controls:focus {
    background-color: #ffff00;
}

.btn-story-controls svg {
    width: 20px;
    height: 20px;
}

.dropdown-label {
    padding-right: 10px;
    line-height: 2rem;
}

/****************************/
/***** !story controls ******/
/****************************/

