@charset "UTF-8";
/* CSS Document */

/*************************************** tile-grid-map directive STYLE ***************************************/

/* tile grid map directive specific styling. */

/* !IMPORTS
/* !GLOBAL
/* --- !tile grid map
/* !CUSTOM


/******************************* !IMPORTS *******************************/

/******************************* !GLOBAL *******************************/

/***************************/
/***** !tile grid map ******/
/***************************/

.vis-container {
    z-index: -1000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding-top: 8.1rem;
}

.vis-container-inside {
    position: relative;
    height: 100%;
    width: 100%;
}

/* reset path style from what mapbox defines */
tile-grid-map path {

    fill-opacity: 0.5;
    stroke-width: 1;
    stroke-opacity: 1;

}

/* polygon label wrap */
tile-grid-map .leaflet-div-icon {

    background: none;
    border: none 0;
    pointer-events: none;
    text-align: center;

}

/* polygon label text */
tile-grid-map .leaflet-div-icon p {

    color: magenta;
    font-size: 1em;
    margin: 0;
    padding: 0;

}

tile-grid-map-category-label {

    font-size: 2em;
    font-weight: 700;
    color: red;
}
