@charset "UTF-8";
/* CSS Document */

/*************************************** tile-grid-map directive STYLE ***************************************/

/* tile grid map directive specific styling. */

/* !IMPORTS
/* !GLOBAL
/* --- !tile grid map
/* !CUSTOM


/******************************* !IMPORTS *******************************/

/******************************* !GLOBAL *******************************/

/***************************/
/***** !tile grid map ******/
/***************************/

/* reset path style from what mapbox defines */
tile-grid-map path {
    
    fill-opacity: 0.5;
    stroke-width: 1;
    stroke-opacity: 1;
    
}

/* polygon label wrap */
tile-grid-map .leaflet-div-icon {
	
	background: none;
	border: none 0;
	pointer-events: none;
	text-align: center;
	
}

/* polygon label text */
tile-grid-map .leaflet-div-icon p {
	
	color: magenta;
	font-size: 1em;
	margin: 0;
	padding: 0;
	
}