<!-- STORIES -->
<section ng-repeat="story in content">
      
    <hgroup>
        
        <!-- STORY TITLE -->
        <h2>{{ story.name }}</h2>
        <p>{{ story.intro }}</p>
    
    </hgroup>
      
    <!-- STORY IDEAS -->
    <!--<div ng-repeat="idea in story.ideas" style="margin-right: 2em; display: inline;">

        <strong style="font-weight: 700;">{{ idea.name }}</strong>-->

    <!--</div>-->
    
    <!-- STORY CONTROLS -->
    <!--<story-controls controls="story.ideas" control-type="drop-down"></story-controls>-->
        	    
    <!-- VISUALIZATION -->
    <ui-view name="visual"></ui-view>

</section>