<section ng-repeat="story in content">
            
	<h2>{{ story.name }}</h2>
    
    <div style="display: flex; margin-top: 1em;">
    
        <div ng-repeat="idea in story.ideas" style="margin-right: 2em;">

            <h3 style="font-weight: 700;">{{ idea.name }}<span>{{ '(' + idea.label + ')' }}</span></h3>
            <p>{{ idea.description }}</p>

            <story-controls controls="idea.controls"></story-controls>

        </div>
        
    </div>
	        
    <ui-view name="visual"></ui-view>

</section>