<!-- STORY -->
<section class="visual-tool">
        
	<hgroup>
        
        <!-- STORY TITLE -->
        <h2>So many tools, so little time.</h2>
        <p>WIth the proliferation of data visualization tools flooding the market in the last few years there are plenty of options to choose from and it can be extremely confusing/intimidating to pick the right one to use when. The secret is to isoclate exactly what you need to do and adjust accordingly since all address slightly different parts of the challenge that is data visualization.</p>
    
    </hgroup>
	
	<div style="display: flex; flex-wrap: wrap;">
    
		<!-- x/y -->
        <div style="width: 50%; max-width: 800px;">
            
            <svg id="xy" viewBox="0 0 800 800">
            <line fill="none" stroke="#1E1E1E" stroke-width="4" stroke-miterlimit="10" x1="64.5" y1="400" x2="735.5" y2="400"/>
            <line fill="none" stroke="#1E1E1E" stroke-width="4" stroke-miterlimit="10" x1="400" y1="64.5" x2="400" y2="735.5"/>
            <text transform="matrix(1 0 0 1 418 141.9121)" font-family="'SourceSansPro-Bold'" font-size="20px" style="fill: steelblue;">extensibility</text>
            <text transform="matrix(1 0 0 1 585 383.9121)" font-family="'SourceSansPro-Bold'" font-size="20px" style="fill: steelblue;">ease of use</text>
            <text transform="matrix(1 0 0 1 701 383.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px" style="fill: steelblue;">easy</text>
            <text transform="matrix(1 0 0 1 418 78.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px" style="fill: steelblue;">open</text>
            <text transform="matrix(1 0 0 1 656 110.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">plotly</text>
            <text transform="matrix(1 0 0 1 73 78.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">d3</text>
            <text transform="matrix(1 0 0 1 307 434.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">bokeh</text>
            <text transform="matrix(1 0 0 1 437 287.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">zoomdata</text>
            <text transform="matrix(1 0 0 1 463 549.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">mapd</text>
            <text transform="matrix(1 0 0 1 456 621.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">tableau</text>
            <text transform="matrix(1 0 0 1 418 735.5)" font-family="'SourceSansPro-Regular'" font-size="17.3394px" style="fill: steelblue;">closed</text>
            <text transform="matrix(1 0 0 1 64.5 383.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px" style="fill: steelblue;">hard</text>
            </svg>
            
        </div>
        
        <!-- scatter -->
        <div style="width: 50%; max-width: 800px;">
            
            <svg id="scatter" viewBox="0 0 800 800">
            <line fill="none" stroke="#1E1E1E" stroke-width="4" stroke-miterlimit="10" x1="54.5" y1="178" x2="725.5" y2="178"/>
            <text transform="matrix(1 0 0 1 337 203.9121)"><tspan x="0" y="0" font-family="'SourceSansPro-Bold'" font-size="17.3394px">large datasets</tspan><tspan x="0" y="20.8" font-family="'SourceSansPro-Bold'" font-size="17.3394px">or streaming data</tspan></text>
            <text transform="matrix(1 0 0 1 54.5 203.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">bad</text>
            <text transform="matrix(1 0 0 1 671.5 203.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">good</text>
            <line fill="none" stroke="#1E1E1E" stroke-width="4" stroke-miterlimit="10" x1="54.5" y1="307" x2="725.5" y2="307"/>
            <text transform="matrix(1 0 0 1 337 332.9121)" font-family="'SourceSansPro-Bold'" font-size="17.3394px" >cross platform users</text>
            <text transform="matrix(1 0 0 1 54.5 332.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">bad</text>
            <text transform="matrix(1 0 0 1 671.5 332.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">good</text>
            <text transform="matrix(1 0 0 1 539 288.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">plotly</text>
            <text transform="matrix(1 0 0 1 664 493.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">d3</text>
            <text transform="matrix(1 0 0 1 244 390.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">bokeh</text>
            <text transform="matrix(1 0 0 1 608 493.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">bokeh</text>
            <text transform="matrix(1 0 0 1 451 602.4121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">zoomdata</text>
            <text transform="matrix(1 0 0 1 455 156.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">mapd</text>
            <text transform="matrix(1 0 0 1 464 288.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">pubnub</text>
            <text transform="matrix(1 0 0 1 515 156.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">pubnub</text>
            <text transform="matrix(1 0 0 1 586 156.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">graphistry</text>
            <text transform="matrix(1 0 0 1 520 574.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">plotly</text>
            <text transform="matrix(1 0 0 1 643 574.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">mapd</text>
            <text transform="matrix(1 0 0 1 574 574.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">pubnub</text>
            <line fill="none" stroke="#1E1E1E" stroke-width="4" stroke-miterlimit="10" x1="54.5" y1="409" x2="725.5" y2="409"/>
            <text transform="matrix(1 0 0 1 337 434.9121)"><tspan x="0" y="0" font-family="'SourceSansPro-Bold'" font-size="17.3394px">non-frontend </tspan><tspan x="0" y="20.8" font-family="'SourceSansPro-Bold'" font-size="17.3394px">language support</tspan></text>
            <text transform="matrix(1 0 0 1 54.5 434.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">bad</text>
            <text transform="matrix(1 0 0 1 671.5 434.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">good</text>
            <line fill="none" stroke="#1E1E1E" stroke-width="4" stroke-miterlimit="10" x1="54.5" y1="511" x2="725.5" y2="511"/>
            <text transform="matrix(1 0 0 1 337 536.9121)" font-family="'SourceSansPro-Bold'" font-size="17.3394px">static visualization</text>
            <text transform="matrix(1 0 0 1 54.5 536.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">bad</text>
            <text transform="matrix(1 0 0 1 671.5 536.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">good</text>
            <text transform="matrix(1 0 0 1 664 602.4121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">d3</text>
            <text transform="matrix(1 0 0 1 608 602.4121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">bokeh</text>
            <line fill="none" stroke="#1E1E1E" stroke-width="4" stroke-miterlimit="10" x1="54.5" y1="619.5" x2="725.5" y2="619.5"/>
            <text transform="matrix(1 0 0 1 337 645.4121)" font-family="'SourceSansPro-Bold'" font-size="17.3394px">interactive visualization</text>
            <text transform="matrix(1 0 0 1 54.5 645.4121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">bad</text>
            <text transform="matrix(1 0 0 1 671.5 645.4121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">good</text>
            <text transform="matrix(1 0 0 1 539 390.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">pubnub</text>
            <text transform="matrix(1 0 0 1 464 390.9121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">plotly</text>
            <text transform="matrix(1 0 0 1 539 602.4121)" font-family="'SourceSansPro-Regular'" font-size="17.3394px">tableau</text>
            </svg>
            
        </div>
		
	</div>
        
</section>