<!-- STORY -->
<section class="visual-tool">
        
	<hgroup>
        
        <!-- STORY TITLE -->
        <h2>So many tools, so little time.</h2>
        <p>WIth the proliferation of data visualization tools flooding the market in the last few years there are plenty of options to choose from and it can be extremely confusing/intimidating to pick the right one to use when. The secret is to isoclate exactly what you need to do and adjust accordingly since all address slightly different parts of the challenge that is data visualization.</p>
    
    </hgroup>
	
	<div>
        
        <!-- x/y -->
        <div style="width: 700px;">
            
            <svg id="xy" viewBox="0 0 800 800">
            <line fill="none" stroke="#1E1E1E" stroke-width="4" stroke-miterlimit="10" x1="64.5" y1="400" x2="735.5" y2="400"/>
            <line fill="none" stroke="#1E1E1E" stroke-width="4" stroke-miterlimit="10" x1="400" y1="64.5" x2="400" y2="735.5"/>
            <text transform="matrix(1 0 0 1 418 141.9121)"  font-size="20px" style="fill: steelblue;">extensibility</text>
            <text transform="matrix(1 0 0 1 585 383.9121)"  font-size="20px" style="fill: steelblue;">ease of use</text>
            <text transform="matrix(1 0 0 1 701 383.9121)"  font-size="17.3394px" style="fill: steelblue;">easy</text>
            <text transform="matrix(1 0 0 1 418 78.9121)"  font-size="17.3394px" style="fill: steelblue;">open</text>
            <text transform="matrix(1 0 0 1 656 110.9121)"  font-size="17.3394px">plotly</text>
            <text transform="matrix(1 0 0 1 73 78.9121)"  font-size="17.3394px">d3</text>
            <text transform="matrix(1 0 0 1 307 434.9121)"  font-size="17.3394px">bokeh</text>
            <text transform="matrix(1 0 0 1 437 287.9121)"  font-size="17.3394px">zoomdata</text>
            <text transform="matrix(1 0 0 1 463 549.9121)"  font-size="17.3394px">mapd</text>
            <text transform="matrix(1 0 0 1 456 621.9121)"  font-size="17.3394px">tableau</text>
            <text transform="matrix(1 0 0 1 418 735.5)"  font-size="17.3394px" style="fill: steelblue;">closed</text>
            <text transform="matrix(1 0 0 1 64.5 383.9121)"  font-size="17.3394px" style="fill: steelblue;">hard</text>
            </svg>
            
        </div>
        
        <!-- scatter -->
        <div style="width: 700px;">
            
<svg viewBox="0 0 800 800" style="enable-background:new 0 0 800 800;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#1E1E1E;stroke-width:4;stroke-miterlimit:10;}
	.st1{fill:#F77703;}
	.st2{font-family:'ArialMT';}
	.st3{font-size:17.3394px;}
	.st4{fill:#757575;}
</style>
<line class="st0" x1="54.5" y1="61.5" x2="725.5" y2="61.5"/>
<text transform="matrix(1 0 0 1 337 87.4164)" class="st1 st2 st3">large datasets</text>
<text transform="matrix(1 0 0 1 337 108.2164)" class="st1 st2 st3">or streaming data</text>
<text transform="matrix(1 0 0 1 54.5 87.4164)" class="st4 st2 st3">bad</text>
<text transform="matrix(1 0 0 1 671.5 87.4164)" class="st4 st2 st3">good</text>
<line class="st0" x1="54.5" y1="223" x2="725.5" y2="223"/>
<text transform="matrix(1 0 0 1 337 248.9153)" class="st1 st2 st3">cross platform users</text>
<text transform="matrix(1 0 0 1 54.5 248.9153)" class="st4 st2 st3">bad</text>
<text transform="matrix(1 0 0 1 671.5 248.9153)" class="st4 st2 st3">good</text>
<text transform="matrix(1 0 0 1 539 204.9153)" class="st2 st3">plotly</text>
<text transform="matrix(1 0 0 1 664 541.4084)" class="st2 st3">d3</text>
<text transform="matrix(1 0 0 1 244 372.9121)" class="st2 st3">bokeh</text>
<text transform="matrix(1 0 0 1 608 541.4084)" class="st2 st3">bokeh</text>
<text transform="matrix(1 0 0 1 451 719.9066)" class="st2 st3">zoomdata</text>
<text transform="matrix(1 0 0 1 455 40.4164)" class="st2 st3">mapd</text>
<text transform="matrix(1 0 0 1 464 204.9153)" class="st2 st3">pubnub</text>
<text transform="matrix(1 0 0 1 515 40.4164)" class="st2 st3">pubnub</text>
<text transform="matrix(1 0 0 1 586 40.4164)" class="st2 st3">graphistry</text>
<text transform="matrix(1 0 0 1 520 692.4066)" class="st2 st3">plotly</text>
<text transform="matrix(1 0 0 1 643 692.4066)" class="st2 st3">mapd</text>
<text transform="matrix(1 0 0 1 574 692.4066)" class="st2 st3">pubnub</text>
<line class="st0" x1="54.5" y1="391" x2="725.5" y2="391"/>
<text transform="matrix(1 0 0 1 337 416.9121)" class="st1 st2 st3">non-frontend </text>
<text transform="matrix(1 0 0 1 337 437.7121)" class="st1 st2 st3">language support</text>
<text transform="matrix(1 0 0 1 54.5 416.9121)" class="st4 st2 st3">bad</text>
<text transform="matrix(1 0 0 1 671.5 416.9121)" class="st4 st2 st3">good</text>
<line class="st0" x1="54.5" y1="558.5" x2="725.5" y2="558.5"/>
<text transform="matrix(1 0 0 1 337 584.4084)" class="st1 st2 st3">static visualization</text>
<text transform="matrix(1 0 0 1 54.5 584.4084)" class="st4 st2 st3">bad</text>
<text transform="matrix(1 0 0 1 671.5 584.4084)" class="st4 st2 st3">good</text>
<text transform="matrix(1 0 0 1 664 719.9066)" class="st2 st3">d3</text>
<text transform="matrix(1 0 0 1 608 719.9066)" class="st2 st3">bokeh</text>
<line class="st0" x1="54.5" y1="737" x2="725.5" y2="737"/>
<text transform="matrix(1 0 0 1 337 762.9066)" class="st1 st2 st3">interactive visualization</text>
<text transform="matrix(1 0 0 1 54.5 762.9066)" class="st4 st2 st3">bad</text>
<text transform="matrix(1 0 0 1 671.5 762.9066)" class="st4 st2 st3">good</text>
<text transform="matrix(1 0 0 1 539 372.9121)" class="st2 st3">pubnub</text>
<text transform="matrix(1 0 0 1 464 372.9121)" class="st2 st3">plotly</text>
<text transform="matrix(1 0 0 1 539 719.9066)" class="st2 st3">tableau</text>
</svg>

            
        </div>
		
	</div>
    
    <div style="width: 300px">
        
        <bar-chart viz-data='[
  {
    "name": "south",
    "value": 1
  },
  {
    "name": "west",
    "value": 35
  },
  {
    "name": "midwest",
    "value": 19
  },
  {
    "name": "northeast",
    "value": 29
  }
]'></bar-chart>

    </div>
        
</section>