<div class="story-controls">

    <div class="row">

        <!--Filter By-->
        <div class="col-xs-4">
            <span class="pull-left dropdown-label">Filter By:</span>
            <div class="dropdown pull-left">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span ng-bind="filteredBy"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="">
                    <li ng-repeat="">
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
        </div>

        <!--Color By-->
        <div class="col-xs-4">
            <span class="pull-left dropdown-label">Color By:</span>
            <div class="dropdown pull-left">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span ng-bind="coloredBy"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="">
                    <li ng-repeat="">
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
        </div>

        <!--Sort By-->
        <div class="col-xs-4">
            <span class="pull-left dropdown-label">Sort By:</span>
            <div class="dropdown pull-left">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span ng-bind="sortedBy"></span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="">
                    <li ng-repeat="">
                        <a href="#"></a>
                    </li>
                </ul>
            </div>
        </div>



    </div>

</div>
