
<!-- button for toggling the key to show -->
<div class="clearfix" ng-show="showkey">
<button ng-click = "showkey=!showkey" class="pull-left"> Show Key </button> 
</div>



<div class="vis-key clearfix" ng-show="!showkey">

    <!-- button for toggling the key to hide -->
    <button ng-click = "showkey=!showkey" class="pull-right"> Hide Key </button> 
    <h2>Legend</h2>
    <hr>
    <div>
        <div class="vis-key--item">
            <div class="vis-key__color-well" ng-style=""></div>
            <div class="vis-key--label">Key 1</div>
        </div>
        <div class="vis-key--item">
            <div class="vis-key__color-well" ng-style=""></div>
            <div class="vis-key--label">Key 2</div>
        </div>
        <div class="vis-key--item">
            <div class="vis-key__color-well" ng-style=""></div>
            <div class="vis-key--label">Key 3</div>
        </div>
    </div>
</div>
