<div class="vis-key">
    <h2>Legend</h2>
    <hr>
    <div>
        <div class="clearfix">
            <div class="vis-key__color-well" ng-style=""></div>
            <div class="vis-key--label">Key 1</div>
        </div>
        <div class="clearfix">
            <div class="vis-key__color-well" ng-style=""></div>
            <div class="vis-key--label">Key 2</div>
        </div>
        <div class="clearfix">
            <div class="vis-key__color-well" ng-style=""></div>
            <div class="vis-key--label">Key 3</div>
        </div>
    </div>
</div>
