@charset "UTF-8";
/* CSS Document */

/*************************************** tile-grid-map directive STYLE ***************************************/

/* tile grid map directive specific styling. */

/* !IMPORTS
/* !GLOBAL
/* --- !tile grid map
/* !CUSTOM


/******************************* !IMPORTS *******************************/

/******************************* !GLOBAL *******************************/

/***************************/
/***** !tile grid map ******/
/***************************/

/* reset path style from what mapbox defines */
tile-grid-map path {
    
    fill-opacity: 1;
    stroke-width: 1;
    stroke-opacity: 1;
    
}