@charset "UTF-8";
/* CSS Document */

/*************************************** directive STYLE ***************************************/

/* Highest directive specific styling. */

/* !IMPORTS
/* !IONIC
/* --- !ion scroll
/* !CUSTOM


/******************************* !IMPORTS *******************************/

/******************************* !IONIC *******************************/

/************************/
/***** !ion scroll ******/
/************************/

/* icon button in scroll */
ion-side-menu-content .button {

	border: 0;
	background: none;
	color: currentColor;
	fill: currentColor;
	padding: 0.5em;
	position: absolute;
	z-index: 9999;
	
}

/* menu icon clicked */
ion-side-menu-content .button.activated {
	
	background: none;
	fill: white;
	
}

/* list item */
ion-item.item {
	
	border: none 0;
	
}

/* list divider */
.item.item-divider {
    
    border: none 0;
    font-size: 2em;
    margin-top: 1em;
    
}

/******************************* !CUSTOM *******************************/