@charset "UTF-8";
/* CSS Document */

/*************************************** directive STYLE ***************************************/

/* Highest directive specific styling. */

/* !IMPORTS
/* !IONIC
/* --- !ion scroll
/* !CUSTOM
/* --- !success button
/* --- !follow button
/* --- !vote button
/* --- !pie chart
/* --- !dot density map
/* --- !fill chart
/* --- !feature message


/******************************* !IMPORTS *******************************/

/******************************* !IONIC *******************************/

/************************/
/***** !ion scroll ******/
/************************/

/* icon button in scroll */
ion-side-menu-content .button {

	border: 0;
	background: none;
	color: currentColor;
	fill: currentColor;
	padding: 0.5em;
	position: absolute;
	z-index: 9999;
	
}

/* menu icon clicked */
ion-side-menu-content .button.activated {
	
	background: none;
	fill: white;
	
}

/* list item */
ion-item.item {
	
	border-color: rgb(20,20,20);
	
}

/******************************* !CUSTOM *******************************/

/****************************/
/***** !success button ******/
/****************************/

/* component wrap */
success-button {
	
	position: relative;
	
}

/* button */
success-button button {
	
	display: flex;
	font-size: 0.85em;
	overflow: hidden;
	position: relative;
	width: 5.75em;
	
}

/* disabled */
success-button button[disabled] {
	
	cursor: default;
	
}

/* button text */
success-button button span:first-child {
	
	display: block;
	left: 1.15em;
	position: relative;
	-o-transition: transform 0.3s 0.5s;
	-moz-transition: transform 0.3s 0.5s;
	-webkit-transition: -webkit-transform 0.3s 0.5s;
	transition: transform 0.3s 0.5s;
	z-index: 10;
	
}

/* button icon/message text */
success-button button span:first-child::before,
success-button button span:first-child::after,
success-button button span:last-child {
	
	opacity: 0;
	position: absolute;	
	top: 110%;
	
}

/* button icon */
success-button button span:first-child::before,
success-button button span:first-child::after {
	
	font-family: "Ionicons";
	-o-transition: opacity 0.3s 0.5s;
	-moz-transition: opacity 0.3s 0.5s;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
	
}

/* message text */
success-button button span:last-child {
	
	left: 1.8em;
	-o-transition: all 0.3s 0.5s;
	-moz-transition: all 0.3s 0.5s;
	-webkit-transition: all 0.3s 0.5s;
	transition: all 0.3s 0.5s;
	
}

/* checkmark */
success-button button span:first-child::before {
	
	content: "\f122";
	left: -1.4em;
	
}

/* x */
success-button button span:first-child::after {
	
	content: "\f101";
	left: -1em;
	
}

/* button icon/message text */
success-button button.state-success span:first-child::before,
success-button button.state-error span:first-child::after,
success-button button span:last-child {
	
	opacity: 1;
	
}

/* button text transition */
success-button button.state-success span:first-child,
success-button button.state-error span:first-child {
	
	-o-transform: translateY(-115%);
	-ms-transform: translateY(-115%);
	-moz-transform: translateY(-115%);
	-webkit-transform: translateY(-115%);
	transform: translateY(-115%);
	
}

/* message text transition */
success-button button.state-success span:last-child,
success-button button.state-error span:last-child {
	
	-o-transform: translateY(-155%);
	-ms-transform: translateY(-155%);
	-moz-transform: translateY(-155%);
	-webkit-transform: translateY(-155%);
	transform: translateY(-155%);
	
}

/*************************/
/***** !vote button ******/
/*************************/

/* component wrap */
vote-button {
	
	position: relative;
	
}

/* button */
vote-button button {
	
	background-color: transparent;
	border: 1px;
	border-color: rgb(60,60,60);
	border-style: solid;
	color: currentColor;
	display: flex;
	font-size: 0.85em;
	overflow: hidden;
	padding: 0.5em;
	position: relative;
	width: 10em;
	
}

/* disabled */
vote-button button[disabled] {
	
	cursor: default;
	
}

/* button text */
vote-button button span:first-child {
	
	display: block;
	left: 1.15em;
	position: relative;
	-o-transition: transform 0.3s 0.5s;
	-moz-transition: transform 0.3s 0.5s;
	-webkit-transition: -webkit-transform 0.3s 0.5s;
	transition: transform 0.3s 0.5s;
	z-index: 10;
	
}

/* button icon/message text */
vote-button button span:first-child::before,
vote-button button span:first-child::after,
vote-button button span:last-child {
	
	opacity: 0;
	position: absolute;	
	top: 110%;
	
}

/* button icon */
vote-button button span:first-child::before,
vote-button button span:first-child::after {
	
	font-family: "Ionicons";
	-o-transition: opacity 0.3s 0.5s;
	-moz-transition: opacity 0.3s 0.5s;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
	
}

/* message text */
vote-button button span:last-child {
	
	left: 1.8em;
	-o-transition: all 0.3s 0.5s;
	-moz-transition: all 0.3s 0.5s;
	-webkit-transition: all 0.3s 0.5s;
	transition: all 0.3s 0.5s;
	
}

/* checkmark */
vote-button button span:first-child::before {
	
	content: "\f122";
	left: -1.4em;
	
}

/* x */
vote-button button span:first-child::after {
	
	content: "\f101";
	left: -1em;
	
}

/* button icon/message text */
vote-button button.state-success span:first-child::before,
vote-button button.state-error span:first-child::after,
vote-button button span:last-child {
	
	opacity: 1;
	
}

/* button text transition */
vote-button button.state-success span:first-child,
vote-button button.state-error span:first-child {
	
	-o-transform: translateY(-115%);
	-ms-transform: translateY(-115%);
	-moz-transform: translateY(-115%);
	-webkit-transform: translateY(-115%);
	transform: translateY(-115%);
	
}

/* message text transition */
vote-button button.state-success span:last-child,
vote-button button.state-error span:last-child {
	
	-o-transform: translateY(-155%);
	-ms-transform: translateY(-155%);
	-moz-transform: translateY(-155%);
	-webkit-transform: translateY(-155%);
	transform: translateY(-155%);
	
}

/***************************/
/***** !follow button ******/
/***************************/

/* button */
follow-button button {

	background: none;
	border-color: currentColor;
	border-style: solid;
	display: inline-block;
	overflow: visible;
	position: relative;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 5.75em;
	
}

/* background */
follow-button button:after {
	
	background: rgba(60,60,60,0.8);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	opacity: 0;
	pointer-events: none;
	
}

/* button text */
follow-button button span {
	
	color: currentColor;
	position: relative;
	z-index: 9;
	
}

/* button text followed */
follow-button button.followed span {
	
	color: rgb(150,150,150);
	
}

/* background animate */
follow-button button.followed::after {
	-webkit-animation: anim-followed 1s ease-out forwards;
	animation: anim-followed 1s ease-out forwards;
}

@-webkit-keyframes anim-followed {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	25% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes anim-followed {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	25% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

follow-button button::after {
	-webkit-animation: anim-unfollowed 1s ease-out backwards;
	animation: anim-unfollowed 1s ease-out backwards;
}

@-webkit-keyframes anim-unfollowed {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	25% {
		opacity: 0.5;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
}

@keyframes anim-unfollowed {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	25% {
		opacity: 0.5;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
}

/***************************/
/***** !follow button ******/
/***************************/

pie-chart svg {
	
	height: 10em;
	
}

/*****************************/
/***** !dot density map ******/
/*****************************/

/* canvas */
dot-density-map > div:first-child {
	
	background: rgb(26,26,26);
	height: 200px;
	width: 100%;
	
}

/* pop up */
dot-density-map .mapboxgl-popup-content,
dot-density-map .leaflet-popup-content-wrapper {
	
	background: rgba(0,0,0,0.9);
	border-radius: 0;
	color: white;
	padding: 0.75em;
	
}

/* raster pop up */
dot-density-map .leaflet-popup-content,
dot-density-map .leaflet-popup-close-button+.leaflet-popup-content-wrapper .leaflet-popup-content {
	
	padding: 0;
	
}

/* pop up text */
dot-density-map .mapboxgl-popup-content p,
dot-density-map .leaflet-popup-content p {
	
	margin: 0;
	
}

/* raster pop up text */
dot-density-map .leaflet-container p {
	
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	
}

/* threat level */
dot-density-map .mapboxgl-popup-content p:last-child,
dot-density-map .leaflet-container p:last-child {
	
	font-family: "Source Sans Pro Bold", sans-serif;
	font-size: 0.85em;
	font-weight: 700;
	
}

/* threat assessment */
dot-density-map .mapboxgl-popup-content p:last-child span,
dot-density-map .leaflet-container p:last-child span {
	
	padding-bottom: 0.2em;
	padding-left: 0.4em;
	padding-right: 0.4em;
	padding-top: 0.2em;
	
}

/* pop up tip */
dot-density-map .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
dot-density-map .mapboxgl-popup-anchor-left .mapboxgl-popup-tip,
dot-density-map .mapboxgl-popup-anchor-right .mapboxgl-popup-tip,
dot-density-map .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
dot-density-map .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
dot-density-map .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip,
dot-density-map .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
dot-density-map .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip,
dot-density-map .leaflet-popup-tip {
	
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
	
}

/* raster facility marker letter */
dot-density-map .facility:before {
	
	left: 0.35em;
	position: absolute;
	top: -0.15em;
	
}

dot-density-map .facility:before.Unassessed {
	
	content: "U";
	
}

dot-density-map .facility:before.High {
	
	content: "H";
	
}

dot-density-map .facility:before.Medium {
	
	content: "M";
	
}

dot-density-map .facility:before.Low {
	
	content: "L";
	
}

/************************/
/***** !fill chart ******/
/************************/

/* canvas */
fill-chart svg {
	
	height: 20px;
	margin-top: 1em;
	width: 100%;
	
}

/* path */
fill-chart path {
	
	stroke-width: 4px;
	
}

/*****************************/
/***** !feature message ******/
/*****************************/

/* entire wrap */
feature-message > div {
	
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all 0.5s ease-in-out 0.2s;
	-moz-transition: all 0.5s ease-in-out 0.2s;
	transition: all 0.5s ease-in-out 0.2s;
	
}

/* show entire wrap */
feature-message > div.show {
	
	margin-top: 3em;
	max-height: 100vh;
	padding: 1em;
	
}

/* hide entire wrap */
feature-message > div.close {
	
	max-height: 0;
	overflow: hidden;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	
}

/* message wrap */
feature-message > div > div {
	
	background: grey;
	display: flex;
	padding: 1em;
	
}

/* animate hide mssage wrap */
feature-message > div.close > div {
	
	-webkit-animation-direction: reverse;
	animation-direction: reverse;
	
}

/* animate message wrap */
feature-message > div.show > div,
feature-message > div.close > div {
	
	-webkit-animation-name: animScale;
	animation-name: animScale;
	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;
    
}

@-webkit-keyframes animScale {
	0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
}

@keyframes animScale {
	0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); transform: translate3d(0,0,0) scale3d(1,1,1); }
}

/* info icon */
feature-message .ion-ios-information-outline {
	
	font-size: 2.5em;
	margin-right: 0.35em;
	
}

/* message */
feature-message p {
	
	padding-right: 1em;
	
}

/* close icon */
feature-message .ion-close-round {
	
	opacity: 0;
	padding: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	
}

/* antimate icon */
feature-message > div.show .ion-close-round.show {
	
	opacity: 1;
	-webkit-transition: opacity 0.8s ease-in-out;
	-moz-transition: opacity 0.8s ease-in-out;
	transition: opacity 0.8s ease-in-out;
	
}