@charset "UTF-8";
/* CSS Document */

/*************************************** LIGHT STYLE ***************************************/

/* Light styles. */

/* !IMPORTS
/* !GLOBALS
/* IONIC
/* !CUSTOM
/* --- !active
/* --- !menu
/* --- !login
/* --- !group nodes
/* --- !tile grid map
/* --- !bar chart

/******************************* !IMPORTS *******************************/

/******************************* !GLOBALS *******************************/

html, body {
    
    background: rgb(244, 244, 244);
    
}

html, body, p,
h1, h2, h3, h4, h5, h6 {
	
	color: rgb(100, 100, 100);
	
}

button {
	
	background-color: transparent;
	border-color: rgb(150, 150, 150);
	color: currentColor;
	
}

/******************************* !IONIC *******************************/

/* empty content area/header */
.pane {
	
	background: rgb(244,244,244);
	
}

/* top bar */
.bar {
	
	background: transparent;
	
}

/* side menu */
.menu {
	
	background-color: rgb(220,220,220);
	
}

/* general item */
.item,
.card, .list-inset {
	
	border-color: rgb(150,150,150);
	background-color: transparent;
	color: rgb(100,100,100);
	
}

/* list item */
.item-complex .item-content {
	
	background-color: transparent;
	color: rgb(100,100,100);
	
}

ion-item.item {
    
    border-color: rgb(200,200,200);
    
}

/* touched item */
.item .item-content.activated,
.item.activated,
.item.activated.item-complex > .item-content {
	
	background-color: rgb(250,250,250);
	border-color: rgb(244,244,244);
	
}

/* active item */
.item.active {
	
	background: rgb(240,240,240);
	
}

/* probably temp fix for h2 activated */
.item-content.activated h2 {
	
	background: transparent;
	
}

/* pop up */
.popup-container .popup {
	
	background-color: rgba(150,150,150, 0.95);
	
}

/* pop up button color */
.button.button-positive {
	
	background-color: rgb(100,100,100);
	
}

/* buttons */
.button:hover {
	
	color: currentColor;
	
}

/******************************* !CUSTOM *******************************/

/********************/
/***** !active ******/
/********************/

/* active */
.active {
	
	color: currentColor;
	
}

/******************/
/***** !menu ******/
/******************/

/* menu title */
.menu-title:after {
    
    background: currentColor;
    
}

/* theme */
.theme-change {
    
    background: rgb(80,80,80);
    color: rgb(200,200,200);
    
}

/*******************/
/***** !login ******/
/*******************/

/* persona type */
.login section div span {
    
    color: rgb(244,244,244);
    
}

/* persona type general */
.login section div span[data-persona-type="general"] {
    
    background: rgb(163, 180, 70);
    
}

/* persona type corporate */
.login section div span[data-persona-type="corporate"] {
    
    background: rgb(70, 130, 180);
    
}

/* persona type sme */
.login section div span[data-persona-type="sme"] {
    
    background: rgb(152, 83, 2);
    
}

/* persona type sme */
.login section div span[data-persona-type="peer"] {
    
    background: rgb(2, 140, 152);
    
}

/* persona name */
.login section div p:first-of-type {

    color: rgb(30,30,30);

}

/**************************/
/***** !group nodes ******/
/**************************/

/* node */
group-nodes .node .shape {
	
	fill: #667080;
	
}

/* link */
group-nodes .link {
    
    stroke: #667080;
    
}

/* node label */
group-nodes .node .label {
    
    fill: rgb(244,244,244);
    
}

/************************/
/**** !tile grid map ****/
/************************/

/* empty tile */
tile-grid-map path.default {
    
    fill: rgb(102, 112, 128);
    stroke: rgb(244,244,244);
    
}

/***********************/
/***** !bar chart ******/
/***********************/

/* node */
bar-chart rect {
	
	fill: #667080;
	
}