@charset "UTF-8";
/* CSS Document */

/*************************************** tablet STYLE ***************************************/

/* Highest tablet specific styling. */

/* !IMPORTS
/* !GLOBALS
/* !IONIC
/* !CUSTOM
/* --- !menu
/* --- !login
/* --- !visual form

/******************************* !IMPORTS *******************************/

/******************************* !GLOBAL *******************************/

html,
body,
h1,
h2,
h3 {
	
	font-family: "Source Sans Pro", sans-serif;
	
}

a {
	
	color: currentColor;
    text-decoration: none;
	
}

h1, h2 {
	
	font-family: "Source Sans Pro Light", sans-serif;
	font-weight: 300;
	
}

h2 {
    
    font-size: 1.5em;
    max-width: 500px;
    width: 60%;
    
}

h3 {
    
    font-size: 1.25em;
    
}

button {
	
	border: 1px;
	border-style: solid;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 0.85em;
	padding: 0.5em;
	
}

/******************************* !IONIC *******************************/

/* top bar */
.bar {
	
	border-bottom: none;
	
}

/* temp list fix */
.item p,
.item-content p,
.item-content h2 {
	
	white-space: normal;
	
}

/* let panel float to top of viewport */
.has-header {
	
	top: 0;
	
}

/* pop up modal title */
.popup-head {
	
	border: 0 none;
	
}

/* story title */
.bar .title {
	
	font-size: 1em;
	margin-left: 20px;
	
}

.platform-android .bar .title {
	
	font-size: 1em;
	
}

.title.title-right.header-item {
	
	left: auto;
	width: 70%;
	
}

/* TEMP section */
ion-content section {
    
    padding: 5em;
    
}

ion-content section:last-child {
    
    margin-bottom: 8em;
    
}

/******************************* !CUSTOM *******************************/

/******************/
/***** !menu ******/
/******************/

/* text */
.menu-title {
    
    padding: 1em;
    position: relative;
    
}

/* underline */
.menu-title:after {
    
    bottom: 0;
	content: '';
	height: 1px;
	left: 1em;
	position: absolute;
	width: calc(100% - 2em);
    
}

/* theme */
.theme-change {
    
    font-size: 0.7em;
    font-weight: 700;
    left: 5px;
    padding-bottom: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.1em;
    position: relative;
    text-transform: lowercase;
    top: -2px;
    
}

/* user */
.user {
    
    padding: 1em;
    
}

.user span {
    
    font-size: 1.5em;
    
}

.user span:first-child {
    
    border-right: 1px;
    border-right-color: currentColor;
    border-right-style: solid;
    font-weight: 700;
    padding-right: 0.5em;
    text-transform: uppercase;
    
}

.user span:last-child {
    
    padding-left: 0.5em;
    
}

/* items */
.menu-item {
    
    text-transform: capitalize;
    
}

/*******************/
/***** !login ******/
/*******************/

/* wrap */
.login {
    
    padding: 5em;
    
}

/* headline */
.login hgroup h2 {
    
    margin-bottom: 1em;
    
}

/* intro text */
.login hgroup p:first-of-type {
    
    font-size: 1.15em;
    margin-top: 2em;
    
}

/* inline menu icon */
.login hgroup i {
    
    margin-left: 0.45em;
    margin-right: 0.45em;
    
}

/* intro call to action */
.login hgroup p:last-child {
    
    font-weight: 700;
    margin-top: 2em;
    
}

/* wrap personas */
.login section {
    
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    
}

/* persona */
.login section div {
    
    padding: 2em;
    width: 50%;
    
}

/* persona name */
.login section div p:first-of-type {

    font-size: 1.5em;
    text-transform: capitalize;

}

/* persona description */
.login section div p:last-of-type {

    max-width: 400px;

}

/* persona type */
.login section div span {
    
    font-size: 0.8em;
    display: inline-block;
    margin-bottom: 1em;
    padding: 0.25em;
    text-transform: uppercase;
    
}

/*************************/
/***** !visual form ******/
/*************************/

/* wrap all cards */
.visual-form > div {
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    
}

/* individual idea div */
.visual-form > div > div {
    
    margin-bottom: 2em;
    margin-right: 50px;
    width: calc(50% - 50px);
    
}

/* last individual idea div */
.visual-form > div > div:last-of-type {
    
    margin-right: 0;
    
}