<p class="menu-title">
    Menu
    <span ng-click="closePanel();">
        <i class="ion-close-round"></i>
    </span>
</p>
    
<!-- USER PERSONA -->
<p class="user">
    <span>{{ content.currentPersona }}</span>
    <span ng-click="logout();">Logout</span>
</p>

<!-- UPDATE -->
<div class="item item-divider">Update</div>

<!-- THEME -->
<div class="item menu-item">
    
    <span>Theme</span>
    <span class="theme-change"
          ng-click="$parent.$parent.changeTheme(content.theme.opposite);">{{ content.theme.opposite }}</span>

</div>

<!-- WORKSPACES -->
<div class="item item-divider">Explore</div>

<div ng-repeat="workspace in content.listOfWorkspaces"
          class="item menu-item"
          ng-class="{ 'active': content.currentWorkspaceId == workspace.id }"
          ng-click="changeWorkspace(workspace.id, workspace.url_name);">{{ workspace.name }}</div>
