@charset "UTF-8";
/* CSS Document */

/*************************************** MAIN STYLE ***************************************/

/* Highest-level styling like font families and basic page layout. */

/* !IMPORTS
/* !GLOBALS
/* !CUSTOM
/* --- !something

/******************************* !IMPORTS *******************************/
@import url("reset.css");

/******************************* !GLOBALS *******************************/

html {
    
    font-size: 100%;
    
}

main {
    
    margin: auto;
    min-width: 300px;
    width: 70%;
    
}

nav a {
	
	display: block;
	margin-bottom: 0.5em;
	
}

/******************************* !CUSTOM *******************************/