<ion-side-menus enable-menu-with-back-views="true">

	<!-- MAIN CONTENT -->
	<ion-side-menu-content drag-content="false">
	
		<!-- MENU -->
		<button class="button" menu-toggle="left" ng-show="navVisible">
			<i class="ion-navicon-round"></i>
		</button>
		
		<!-- PANEL NAV -->
		<div class="row panel-nav" ng-show="navVisible">
		
			<a class="col" 
			   ng-repeat="panel in ::panels" 
			   ui-sref="app.panel({ panel: panel.url.param })" 
			   ng-class="{ 'active': panelParam == panel.title }" 
			   ng-click="changePanel(panel.title);">{{ panel.title }}</a>
			
		</div>

		<!-- MAIN CONTENT -->
		<ion-nav-view name="panel"></ion-nav-view>

	</ion-side-menu-content>

	<!-- LEFT MENU -->
	<ion-side-menu side="left">

		<ion-content>

			<ion-list>
                
                <ion-item class="item" ui-sref="app.panel({ panel: 'story1' })" nav-clear menu-close>Home</ion-item>

			</ion-list>

		</ion-content>

  </ion-side-menu>

</ion-side-menus>