<ion-side-menus enable-menu-with-back-views="true">

	<!-- MAIN CONTENT -->
	<ion-side-menu-content drag-content="false">
		
		<!-- PANEL NAV -->
        <panel-nav panels="panels"></panel-nav>

		<!-- MAIN CONTENT -->
		<ion-nav-view name="panel"></ion-nav-view>

	</ion-side-menu-content>

	<!-- LEFT MENU -->
	<ion-side-menu side="left">

		<ion-content>

			<ion-list>
                
                <div class="list">
                    
                    <p class="menu-title">Menu</p>

                    <!-- WORKSPACES -->
                    <div class="item item-divider">Explore</div>
                    
                    <ion-item ng-repeat="workspace in workspaces"
                              class="item"
                              ng-class="{ 'active': workspacePanel == workspace.name }"
                              ng-click="changeWorkspace(workspace.name, workspace.id, workspace.default_panel, workspace.panel);"
                              nav-clear menu-close>{{ workspace.name }}</ion-item>
                    
                </div>

			</ion-list>

		</ion-content>

  </ion-side-menu>

</ion-side-menus>