<ion-side-menus enable-menu-with-back-views="true">

	<!-- MAIN CONTENT -->
	<ion-side-menu-content drag-content="false">
		
		<!-- PANEL NAV -->
        <panel-nav panels="panels"></panel-nav>

		<!-- MAIN CONTENT -->
		<ion-nav-view name="panel"></ion-nav-view>

	</ion-side-menu-content>

	<!-- LEFT MENU -->
	<ion-side-menu side="left">

		<ion-content>

			<ion-list>
                
                <ion-item class="item" 
                          nav-clear 
                          menu-close>Home</ion-item>
                
                <!-- WORKSPACES -->
                <ion-item ng-repeat="workspace in workspaces"
                          class="item"
                          ng-click="changeWorkspace(workspace.name, workspace.default_panel);"
                          nav-clear menu-close>{{ workspace.name }}</ion-item>

			</ion-list>

		</ion-content>

  </ion-side-menu>

</ion-side-menus>