<ion-view>
    
    <!-- TITLE -->
	<ion-nav-bar align-title="right">
	
		<ion-nav-buttons side="left">
		    <button class="button back-button buttons button-clear header-item"
					ng-click="goBack(); toggleNav();">
		        <i class="icon ion-ios-arrow-back"></i> 
		    </button>
		</ion-nav-buttons>

		<ion-nav-title>{{ content.name }}</ion-nav-title>
		
    </ion-nav-bar>
    
	<!-- CONTENT -->
	<ion-content has-bouncing="true">
		
		<p>TBD visualization work</p>

	</ion-content>
    
</ion-view>